<div class="container-fluid">
    <h3>Receipts</h3>
    <form #f="ngForm" >
      <div class="row col-6 customer-form"> 
        <div class="row">
          <div class="col-6">
            <label for="customername">Date</label>
          </div>
          <div class="col-6">
            <input type="text" [(ngModel)]="date" name="date" readonly disabled>
          </div>
        </div>  
      <div class="row">
        <div class="col-6">
          <label for="customername">CustomeName</label>
        </div>
        <div class="col-6">
          <ng-autocomplete 
          [data]="businessManType"
          [searchKeyword]="keyword"
          placeholder="Select Customer"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
    
          [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.pname"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="customername">Previous Balance</label>
        </div>
        <div class="col-6">
          <input type="text" [(ngModel)]="previousBalance" name="previousBalance" readonly disabled>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="outletarea">Today's Receipt</label>
        </div>
        <div class="col-6">
          <input type="text" [(ngModel)]="downpayment" name="downpayment" required (blur)="updateDiscount()">
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <label for="phonenumber">Discount</label>
        </div>
        <div class="col-6">
           <input type="number" [(ngModel)]="discount" name="discount" required (blur)="updateDiscountVal()">
        </div>
      </div>
     
      <div class="row">
        <div class="col-6">
          <label for="tinnumber">Balance</label>
        </div>
        <div class="col-6">
          <input type="number" [(ngModel)]="balance" name="balance" required>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
         &nbsp;
        </div>
        <div class="col-6">
            &nbsp;
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
         
        </div>
        <div class="col-6">
          <button  type="button" class="btn btn-primary" (click)="saveReceipt(f)"
          >Save</button>&nbsp;&nbsp;
        <button routerLink="/sales" type="button" class="btn btn-primary" (click)="returnToSales()"
          >Return</button>
        </div>
      </div>
      
     
      </div>
    </form>
  
  </div>
  <div class="ng-autocomplete">
    
    </div>
  