<div class="mt-2">
  <form #f="ngForm">

    <div class="mb-3">
      <label for="customername">CustomeName</label>
      <input type="text" [ngModel]="customername" name="customername" required>
    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <input type="text" [ngModel]="address" name="address" required>
    </div>

    <div class="mb-3">
      <label for="outletarea">OutletArea</label>
      <input type="text" [ngModel]="outletarea" name="outletarea" required>
    </div>

    <div class="mb-3">
      <label for="phonenumber">PhoneNumber</label>
      <input type="number" [ngModel]="phonenumber" name="phonenumber" required>
    </div>

    <div class="mb-3">
      <label for="tinnumber">TinNumber</label>
      <input type="number" [ngModel]="tinnumber" name="tinnumber" required>
    </div>

    <div class="mb-3">
      <label for="customertype">CustomerType</label>
      <select #ctype (change)="onChange(ctype.value)" [(ngModel)]="customertype" name="customertype">
        <option [value]="null" [disabled]="true" [selected]> Select an option </option>
        <option *ngFor="let user of selectCustomer" value="{{user.type}}">{{user.type}}</option>
      </select>
    </div>
    
    <!-- <button  type="submit" class="btn btn-primary" (click)="saveCustomer(f,btnSubmit)">{{btnSubmit}}</button> -->
    <!-- <button  type="submit" class="btn btn-primary" (click)="updateCustomer(f)">updateCustomer</button> -->
    <button *ngIf="id==0" type="submit" class="btn btn-primary" (click)="saveCustomer(f)"
      [disabled]="!f.valid">Submit</button>
    <button *ngIf="id>0" type="submit" class="btn btn-primary" (click)="updateCustomer(f)"
      [disabled]="!f.valid">updateCustomer</button>
  </form>
</div>

