<br>
<br>
<div class="container">
    <form [formGroup]="salesForm">
        <div class="row">
            <div class="col col-3">
                <label for="billno">Billno</label><br />
                <input type="number" formControlName="billno" placeholder="BillNo" readonly disabled>
            </div>
            <div class="col col-3">
                <label for="date">Date</label><br />
                <input type="text" formControlName="date" readonly disabled>
            </div>
            <div class="col col-6">
                <label for="customerid">CustomerName</label><br />
                <select placeholder="Farmer" #customerName formControlName="farmerName">
                    <!-- <option>Select Farmer</option> -->
                    <option *ngFor="let farmer of farmerType">
                        {{farmer.pname}}
                    </option>
                </select>
                <!-- <label for="farmerName">FarmerName</label>
                <input type="text" formControlName="farmerName" placeholder="FarmerName"> -->
            </div>
        </div>
        <div class="row" formGroupName="inword">
            <!-- <div class="col">
                <label for="billno">Billno</label>
                <input type="number" formControlName="billno" placeholder="BillNo">
            </div> -->
            <!-- <div class="col">
                <label for="date">Date</label>
                <input type="datetime-local" formControlName="date">
            </div> -->
            <div class="col">
                <!-- <label for="customerid">CustomerName</label>
                <select placeholder="Farmer" #customerName>
                    <option>--FarmerName--</option>
                    <option *ngFor="let farmer of farmerType">
                        {{farmer.customername }}
                    </option>
                </select> -->
                <!-- <label for="farmerName">FarmerName</label>
                <input type="text" formControlName="farmerName" placeholder="FarmerName"> -->
            </div>
        </div>
        <br>
        <div class="row" formGroupName="inVegitable">
            <div class="col">
                <select placeholder="Product" #product formControlName="product" (change)="selectProduct()">
                    <option>Select Product</option>
                    <option  *ngFor="let product of productList">
                        {{product.name }}
                    </option>
                </select>
                <!--<input type="text" #product formControlName="product" placeholder="Product" (blur)="onBlurInProduct()">-->
            </div>
            <div class="col">
                <input type="number" #kgs formControlName="kgs" placeholder="Kgs" disabled>
            </div>
            <div class="col" id="model">
                <input type="string" #pack formControlName="pack" placeholder="Pack" (blur)="onBlurInPack()"
                    (keydown.enter)="openModal()">
                <i (click)="openModal()" class="fa fa-plus" *ngIf="disableTextbox"></i> 
                <!--<button (click)="openModal()" [disabled]='disableTextbox'>Click</button>-->

                <!-- <i (click)="openModal()" class="fa fa-plus" [ngClass]="{'fa fa-plus' : tomato==false}"></i> -->
            </div>
            <!-- <div class="col">
                <input type="number" #pack formControlName="pack" placeholder="Pack" (blur)="onBlurInPack()">
                <button type="button" class="btn btn-primary" (click)="openModal()">Open Dialog</button>
            </div> -->
            <div class="col">
                <input type="number" #rate placeholder="Rate" (blur)="onBlurInRate()">
            </div>
            <div class="col">
                <input type="number" #amount placeholder="Amount" disabled>
            </div>

            <div class="col">
                <button type="button" [disabled]="!inVegitable.valid" (click)="addInProductsArray()"
                    class="btn btn-primary">Add
                </button>
                <!-- <button [disabled]="inVegitable.invalid" (click)="addInProductsArray()" class="btn btn-primary">Add
                        Products</button> -->
            </div>

        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <ng-container *ngFor="let proud of inProductsArr.controls; let i = index">
                    <div class="row" [formGroup]="proud">
                        <div class="col">
                            <label for="product">Pro</label>
                            <input type="text" formControlName="product" placeholder="Product" disabled>
                            <!-- <div class="text-danger" *ngif="inProductsArr.controls[i].get('product').errors?.required">
                                Product Name is required
                            </div> -->
                        </div>
                        <div class="col">
                            <label for="kgs">Kgs</label>
                            <input type="number" formControlName="kgs" placeholder="Kgs" disabled>
                        </div>
                        <div class="col">
                            <label for="pack">Pack</label>
                            <input type="string" formControlName="pack" placeholder="Pack" disabled>
                        </div>
                        <div class="col">
                            <label for="rate">Rate</label>
                            <input type="number" formControlName="rate" placeholder="Rate" disabled>
                        </div>
                        <div class="col">
                            <label for="amount">Amt</label>
                            <input type="number" formControlName="amount" placeholder="Amount" disabled>
                        </div>
                        <div class="col">
                            <button (click)="removeInProducts(i)" class="btn btn-danger"> Remove</button>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-2">
                <label for="commision">Commission:</label>
                <input type="number" formControlName="commision" disabled>
            </div>
            <div class="col col-2">
                <label for="toll">Toll:</label><br />
                <input type="number" formControlName="toll" disabled>
            </div>
            <div class="col col-2">
                <label for="wages">Wages:</label><br />
                <input type="number" formControlName="wages" disabled>
            </div>
            <div class="col col-2">
                <label for="totalamount"><h4><strong>TotalAmount:</strong></h4></label>
                <input type="number" formControlName="totalamount" disabled>
                <!-- <h2 formControlName="totalamount"><strong>{{totalAmount}}</strong></h2> -->
            </div>
        </div>
        <div class="row">
            <div class="col  col-2">
                <label for="rent">Rent:</label><br />
                <input type="number" formControlName="rent" (blur)="onBlurRent()">
            </div>
            <div class="col col-2">
                <label for="debit">Debit:</label><br />
                <input type="number" formControlName="debit">
            </div>
            <div class="col col-2">
                <label for="credit">Credit:</label><br />
                <input type="number" formControlName="credit">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col">
            <!-- <select placeholder="BusinessMan" #businessMan>
                <option>--BusinessMan--</option>
                <option *ngFor="let business of businessManType">
                    {{business.customername }}
                </option>
            </select> -->
            <!-- <input type="text" #businessMan placeholder="BusinessMan"> -->
        </div>
        <div class="row" formGroupName="outVegitable">
            <div class="col">
                <select #businessMan (change)="selectBusinessman(businessMan.value)" formControlName="businessMan">
                    <option>Select BusinessMan</option>
                    <option *ngFor="let business of businessManType" [value]="business.pname">
                        {{business.pname }}
                    </option>
                </select>
            </div>
            <!-- <div class="col">
                <ng-autocomplete [data]="productList" [searchKeyword]="keyword" placeholder="Enter"
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)' historyIdentifier="productList" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>

            </div> -->
            <div class="col">
                <select placeholder="Products" #outProduct formControlName="outProduct">
                    <option>--Products--</option>
                    <option *ngFor="let product of productsName">
                        {{product}}
                    </option>
                </select>
            </div>
            <div class="col">
                <input type="number" #outKgs placeholder="Kgs" formControlName="outKgs">
            </div>
            <div class="col">
                <input type="string" #outPack placeholder="Pack" formControlName="outPack">
            </div>
            <div class="col">
                <input type="number" #outRate placeholder="Rate" (blur)="onBlurOutRate()" formControlName="outRate">
            </div>
            <div class="col">
                <input type="number" #outAmount placeholder="Amount" disabled formControlName="outAmount">
            </div>
            <div class="col">
                <button [disabled]="!outVegitable.valid" (click)="addOutProductsArray()" class="btn btn-primary"
                    type="button">Add
                </button>
            </div>

        </div>
        <br>
        <ng-container *ngFor="let proud of outProductsArr.controls; let i = index">
            <div class="row" [formGroup]="proud">
                <div class="col">

                    <input type="text" formControlName="businessMan" disabled>
                </div>
                <div class="col">
                    <input type="text" formControlName="outProduct" disabled>
                </div>
                <div class="col">
                    <label for="">Kgs</label>
                    <input type="number" formControlName="outKgs" disabled>
                </div>
                <div class="col">
                    <input type="string" formControlName="outPack" disabled>
                </div>
                <div class="col">
                    <input type="number" formControlName="outRate" disabled>
                </div>
                <div class="col">
                    <input type="number" formControlName="outAmount" disabled>
                </div>
                <div class="col">
                    <button (click)="removeOutProducts(i)" class="btn btn-danger"> Remove</button>
                </div>
            </div>
        </ng-container>
        <br>

        <br>
        <br>
        <button class="btn btn-primary" type="button" (click)="onClickSubmit()">Submit</button>
        <button class="btn btn-danger" type="button" (click)="onClickCancel()">Cancel</button>
    </form>
</div>

<div class="container">
    <form [formGroup]="packForm">
        <!-- Modal -->
        <div id="myModal" class="modal" role="dialog" *ngIf="modalOpen">
            <div class="modal-dialog" style="width:400px;">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Pack Details</h4>
                        <button type="button" class="close" (click)="closeModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ng-container *ngFor="let pack of inPackModalArr.controls; let i = index">
                            <div class="row" [formGroup]="pack">
                                <div class="col col-4">
                                    {{i+1}}:&nbsp;&nbsp;<input type="text" formControlName="qty">
                                </div>
                            </div>
                        </ng-container>
                        <!-- <input type="number" *ngFor="let val of packArray" /> -->
                        <!-- <div>{{currentPackinfo}}</div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" (click)="saveModel()">Submit</button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>



<!-- <ng-container *ngFor="let val of packArray; let i = index">
    <div class="row">
        <div class="col">
            <div class="row" [formGroup]="pack">
                <div class="col">
                    <input type="text" formControlName="modalPack">
                </div>
            </div>
        </div>
    </div>
</ng-container> -->
<!-- <app-packmodel [user]="user"></app-packmodel> -->
<!--<app-packmodel [numb]="numb"></app-packmodel>-->