<br>
<br>
<div class="container">
    <form [formGroup]="salesForm" (ngSubmit)="onClickSubmit()">
        <div class="row">
            <div class="col">
                <label for="billno">Billno</label>
                <input type="number" formControlName="billno" placeholder="BillNo" readonly disabled>
            </div>
            <div class="col">
                <label for="date">Date</label>
                <div class="input-group">
                    <input type="text" formControlName="date" readonly disabled >
                </div>
            </div>
            <div class="col">
                <label for="customerid">CustomerName</label>
                <select placeholder="Farmer" #customerName>
                    <option>Select Farmer</option>
                    <option *ngFor="let farmer of farmerType" >
                        {{farmer.pname}}
                    </option>
                </select>
                <!-- <label for="farmerName">FarmerName</label>
                <input type="text" formControlName="farmerName" placeholder="FarmerName"> -->
            </div>
        </div>
        <div class="row" formGroupName="inword">
            <!-- <div class="col">
                <label for="billno">Billno</label>
                <input type="number" formControlName="billno" placeholder="BillNo">
            </div> -->
            <!-- <div class="col">
                <label for="date">Date</label>
                <input type="datetime-local" formControlName="date">
            </div> -->
            <div class="col">
                <!-- <label for="customerid">CustomerName</label>
                <select placeholder="Farmer" #customerName>
                    <option>--FarmerName--</option>
                    <option *ngFor="let farmer of farmerType">
                        {{farmer.customername }}
                    </option>
                </select> -->
                <!-- <label for="farmerName">FarmerName</label>
                <input type="text" formControlName="farmerName" placeholder="FarmerName"> -->
            </div>
        </div>
        <br>
        <div class="row" formGroupName="inVegitable">
            <div class="col">
                <select placeholder="Product" #product formControlName="product">
                    <option>Select Product</option>
                    <option *ngFor="let product of productList">
                        {{product.name }}
                    </option>
                </select>
                <!--<input type="text" #product formControlName="product" placeholder="Product" (blur)="onBlurInProduct()">-->
            </div>
            <div class="col">
                <input type="number" #kgs formControlName="kgs" placeholder="Kgs" (blur)="onBlurInKgs()" disabled>
            </div>
            <div class="col">
                <input type="string" #pack formControlName="pack" placeholder="Pack" (blur)="onBlurInPack()">
                <a class='nav-link' (click)="openModal()">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <!-- <div class="col">
                <input type="number" #pack formControlName="pack" placeholder="Pack" (blur)="onBlurInPack()">
                <button type="button" class="btn btn-primary" (click)="openModal()">Open Dialog</button>
            </div> -->
            <div class="col">
                <input type="number" #rate placeholder="Rate" (blur)="onBlurInRate()">
            </div>
            <div class="col">
                <input type="number" #amount placeholder="Amount" disabled>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" [disabled]="!inVegitable.valid" (click)="addInProductsArray()" class="btn btn-primary">Add
                        Products</button>
                    <!-- <button [disabled]="inVegitable.invalid" (click)="addInProductsArray()" class="btn btn-primary">Add
                            Products</button> -->
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <ng-container *ngFor="let proud of inProductsArr.controls; let i = index">
                    <div class="row" [formGroup]="proud">
                        <div class="col">
                            <label for="product">Pro</label>
                            <input type="text" formControlName="product" placeholder="Product" disabled>
                            <!-- <div class="text-danger" *ngif="inProductsArr.controls[i].get('product').errors?.required">
                                Product Name is required
                            </div> -->
                        </div>
                        <div class="col">
                            <label for="kgs">Kgs</label>
                            <input type="number" formControlName="kgs" placeholder="Kgs" disabled>
                        </div>
                        <div class="col">
                            <label for="pack">Pack</label>
                            <input type="string" formControlName="pack" placeholder="Pack" disabled>
                        </div>
                        <div class="col">
                            <label for="rate">Rate</label>
                            <input type="number" formControlName="rate" placeholder="Rate" disabled>
                        </div>
                        <div class="col">
                            <label for="amount">Amt</label>
                            <input type="number" formControlName="amount" placeholder="Amount" disabled>
                        </div>
                        <div class="col">
                            <button (click)="removeInProducts(i)" class="btn btn-danger"> Remove</button>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <label for="commision">Commision:</label>
                <input type="number" formControlName="commision">
            </div>
            <div class="col-2">
                <label for="toll">Toll:</label>
                <input type="number" formControlName="toll">
            </div>
            <div class="col-2">
                <label for="wages">Wages:</label>
                <input type="number" formControlName="wages">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="rent">Rent:</label>
                <input type="number" formControlName="rent">
            </div>
            <div class="col-2">
                <label for="debit">Debit:</label>
                <input type="number" formControlName="debit">
            </div>
            <div class="col-2">
                <label for="credit">Credit:</label>
                <input type="number" formControlName="credit">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col">
            <!-- <select placeholder="BusinessMan" #businessMan>
                <option>--BusinessMan--</option>
                <option *ngFor="let business of businessManType">
                    {{business.customername }}
                </option>
            </select> -->
            <!-- <input type="text" #businessMan placeholder="BusinessMan"> -->
        </div>
        <div class="row" formGroupName="outVegitable">
            <div class="col">
                <!-- <select #business (change)="selectBusinessman(business.value)">
                    <option *ngFor="let b of businessMan" [value]="b.id">
                        {{b.customername}}
                    </option>
                </select> -->
                <select #businessMan (change)="selectBusinessman(businessMan.value)">
                    <option>Select BusinessMan</option>
                    <option *ngFor="let business of businessManType" [value]="business.pname">
                        {{business.pname }}
                    </option>
                </select>
                <!-- <input type="text" #businessMan placeholder="BusinessMan"> -->
            </div>
            <div class="col">
                <select placeholder="Products" #outProduct>
                    <option>--Products--</option>
                    <option *ngFor="let product of productsName">
                        {{product}}
                    </option>
                </select>
            </div>
            <div class="col">
                <input type="number" #outKgs placeholder="Kgs" (blur)="onBlurOutKgs()">
            </div>
            <div class="col">
                <input type="string" #outPack placeholder="Pack" (blur)="onBlurOutPack()">
            </div>
            <div class="col">
                <input type="number" #outRate placeholder="Rate" (blur)="onBlurOutRate()">
            </div>
            <div class="col">
                <input type="number" #outAmount placeholder="Amount" disabled>
            </div>
            <div class="row">
                <div class="col">
                    <button  (click)="addOutProductsArray()" class="btn btn-primary" type="button">Add
                        Out Products</button>
                </div>
            </div>
        </div>
        <br>
        <ng-container *ngFor="let proud of outProductsArr.controls; let i = index">
            <div class="row" [formGroup]="proud">
                <div class="col">
                   
                    <input type="text" formControlName="businessMan" disabled>
                </div>
                <div class="col">
                    <input type="text" formControlName="outProduct" disabled>
                </div>
                <div class="col">
                    <label for="">Kgs</label>
                    <input type="number" formControlName="outKgs" disabled>
                </div>
                <div class="col">
                    <input type="string" formControlName="outPack" disabled>
                </div>
                <div class="col">
                    <input type="number" formControlName="outRate" disabled>
                </div>
                <div class="col">
                    <input type="number" formControlName="outAmount" disabled>
                </div>
                <div class="col">
                    <button (click)="removeOutProducts(i)" class="btn btn-danger"> Remove</button>
                </div>
            </div>
        </ng-container>
        <br>

        <br>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<div class="container">
    <form [formGroup]="packForm">
        <!-- Modal -->
        <div id="myModal" class="modal" role="dialog" *ngIf="modalOpen">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Pack Details</h4>
                        <button type="button" class="close" (click)="closeModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ng-container *ngFor="let pack of inPackModalArr.controls; let i = index">
                            <div class="row" [formGroup]="pack">
                                <div class="col">
                                    {{i+1}}:&nbsp;&nbsp;<input type="text" formControlName="modalPack">
                                </div>
                            </div>
                        </ng-container>
                        <!-- <input type="number" *ngFor="let val of packArray" /> -->
                        <!-- <div>{{currentPackinfo}}</div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="saveModel()">Submit</button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>



<!-- <ng-container *ngFor="let val of packArray; let i = index">
    <div class="row">
        <div class="col">
            <div class="row" [formGroup]="pack">
                <div class="col">
                    <input type="text" formControlName="modalPack">
                </div>
            </div>
        </div>
    </div>
</ng-container> -->
<!-- <app-packmodel [user]="user"></app-packmodel> -->
<!--<app-packmodel [numb]="numb"></app-packmodel>-->