<div>
    <h3>Tally Statement</h3>
    <form class="row row-cols-sm-auto">
        <div class="col-3">
            <div class="input-group">
                <input class="form-control" [placeholder]="todayDate" name="dp" [(ngModel)]="model" ngbDatepicker
                    #d="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>

        </div>
        <div class="col-3">
            <div class="input-group">
                <button type="button" class="btn btn-primary" (click)="showData()">
                    Show
                </button>
            </div>
        </div>

    </form>

    <div *ngIf="!tallyData.purchase.length">
        <br>
        <br>
       
        <h5>No records found</h5>
    </div>
    <table datatable  class="row-border hover" *ngIf="tallyData.purchase.length">
        <thead>
            <tr>
                <th colspan="3">&nbsp;</th>
                <th colspan="3" class="row-pur-head">Purchase</th>
                <th colspan="3" class="row-sale-head">Sales</th>
            </tr>
            <tr>

                <td>S.No</td>
                <td>Date</td>
                <td>Product</td>
                <td class="row-pur-head">Kgs</td>
                <td class="row-pur-head">Pack</td>
                <td class="row-pur-head">Amount</td>
                <td class="row-sale-head">Kgs</td>
                <td class="row-sale-head">Pack</td>
                <td class="row-sale-head">Amount</td>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let data of tallyData.purchase; index as i;" >
                <td>{{i+1}}</td>
                <td>{{data.date | date:'dd-MM-yyyy'}}</td>
                <td>{{data.pname}}</td>
                <td>{{data.kgs}}</td>
                <td>{{data.pack}}</td>
                <td>{{data.purchaseamount}}</td>
                <td>{{tallyData.sales[i].kgs}}</td>
                <td>{{tallyData.sales[i].pack}}</td>
                <td
                    [ngClass]="{'red': (data.amount > tallyData.sales[i].amount), 'green': (data.purchaseamount < tallyData.sales[i].amount)}">
                    {{tallyData.sales[i].amount}}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr>    
             
            <tr>
                <td colspan="3"></td>
                <td colspan="2"> </td>
                <td colspan="1"></td>
                <td colspan="2"><strong>Sakku Cooly</strong> </td>
                <td colspan="1"><strong>{{sakkucooly}}</strong></td>
            </tr>  
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr> 
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr> 
            <tr>
                <td colspan="3"></td>
                <td colspan="2"><strong>Total Purchase</strong> </td>
                <td colspan="1"><strong>{{purchaseTotal}}</strong></td>
                <td colspan="2"><strong>Toal Sales</strong> </td>
                <td colspan="1"><strong>{{salesTotal}}</strong></td>
            </tr>
        </thead>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                Commission
            </div>
            <div class="col-6">
                {{purchase['commission']}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Sungam
            </div>
            <div class="col-6">
                {{purchase['sungam']}}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Cooly
            </div>
            <div class="col-6">
                {{purchase['cooly']}}
            </div>
        </div>

    </div>
    <div class="col-6">
      <div class="profit">{{salesTotal-purchaseTotal}}</div>

    </div>
</div>
<div class="row">
    <div class="col-6">
        &nbsp;
    </div>
</div>        