<h3>Customers Details</h3>

<a class="btn btn-primary" routerLink="/addcustomer" role="button">AddCustomer</a>
<br>
<br>
<table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="customers.length">
    <thead>
        <tr>
            <th >S.No</th>
            <th>CustomerName</th>
            <th >CustomerType</th>
            <th >City</th>
            <th >Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers;index as i;">
            <td>{{i+1}}</td>
            <td>{{cust.pname}}</td>
            <td>{{cust.category}}</td>
            <td>{{cust.city}}</td>
            <td>
                <a [routerLink]="['/customers',cust.id]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>