<div class="row">
    <div class="col s6">
      <div style="padding: 10px;" align="center" class="card">
        <div class="row">
          <div class="left card-title">
            <b>User Management</b>
          </div>
        </div>

        <div class="row">
          <a routerLink="/customers">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
              
              <span class="indigo-text text-lighten-1"><h5>Customers / Farmer</h5></span>
            </div>
          </a>
          <div class="col s1">&nbsp;</div>
          <div class="col s1">&nbsp;</div>

          <a routerLink="/addcustomer">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Add Customers</h5></span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div style="padding: 10px;" align="center" class="card">
        <div class="row">
          <div class="left card-title">
            <b>Sales Management</b>
          </div>
        </div>
        <div class="row">
          <a routerLink="/sales">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Sales entry</h5></span>
            </div>
          </a>

          <div class="col s1">&nbsp;</div>
          <div class="col s1">&nbsp;</div>

          <a routerLink="/receipts">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Receipts</h5></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div style="padding: 10px;" align="center" class="card">
        <div class="row">
          <div class="left card-title">
            <b>Bill Update </b>
          </div>
        </div>

        <div class="row">
          <a routerLink="/purchasereport">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
              
              <span class="indigo-text text-lighten-1"><h5>Purchase Report</h5></span>
            </div>
          </a>
          <div class="col s1">&nbsp;</div>
          <div class="col s1">&nbsp;</div>

          <a routerLink="/salesreport">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Sales Bill Update</h5></span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div style="padding: 10px;" align="center" class="card">
        <div class="row">
          <div class="left card-title">
            <b>Reports</b>
          </div>
        </div>
        <div class="row">
          <a routerLink="/customerreport">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Customer Report</h5></span>
            </div>
          </a>

          <div class="col s1">&nbsp;</div>
          <div class="col s1">&nbsp;</div>

          <a routerLink="/tallystatement">
            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
             
              <span class="indigo-text text-lighten-1"><h5>Tally Statement</h5></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>